@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #dd682d, #d6282b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.container {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #b32224;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 0 0 8px rgba(255, 255, 255, 0.7);
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
}

input[type="date"] {
    padding: 10px 15px;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 15px;
}

button {
    background-color: #b32224;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

input,
button {
    border: 1px solid #ccc;
}

button:hover {
    background-color: #ff5e00;
    color: black;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(232, 92, 42, 0.4);
}

#result {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #fffdd0;
    font-weight: 500;
}

/* Responsive */
@media (max-width: 480px) {
    .container {
        padding: 30px 20px;
    }

    h1 {
        font-size: 1.8rem;
    }
}